@model SpatulaApi.Models.CreateLessonDTO

@{
    ViewData["Title"] = "AddLesson";
    var courseid = ViewData["CourseId"];
}

<h1>إضافة درس</h1>

<hr />
<div class="row">
    <div class="col-md-12">
		<form method="post" asp-controller="Lessons" asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group" >
				<label asp-for="CourseId" class="control-label"></label>
				<input asp-for="CourseId" class="form-control" value="@courseid"/>
				<span asp-validation-for="CourseId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EnglishName" class="control-label"></label>
				<input asp-for="EnglishName" class="form-control" />
				<span asp-validation-for="EnglishName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ArabicName" class="control-label"></label>
				<input asp-for="ArabicName" class="form-control" />
				<span asp-validation-for="ArabicName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Utensils" class="control-label"></label>
				<input asp-for="Utensils" class="form-control" />
				<span asp-validation-for="Utensils" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Ingredients" class="control-label"></label>
				<input asp-for="Ingredients" class="form-control" />
				<span asp-validation-for="Ingredients" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="VideoUrl" class="control-label"></label>
				<input asp-for="VideoUrl" class="form-control" />
				<span asp-validation-for="VideoUrl" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Order" class="control-label"></label>
				<input asp-for="Order" class="form-control" />
				<span asp-validation-for="Order" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="إضافة" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">العودة الى قائمة الدروس</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
