@model SpatulaApi.Models.CreateCourseDTO

@{
    ViewData["Title"] = "Create";
}
<style>
    
h1, label{
  width: 100%;
  text-align: center;
}
main input,main a{
  text-align: center;
  width: 100%;
}
</style>
<h1>إضافة كورس</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">الاسم</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">الصور</label>
                <input asp-for="Pictures" class="form-control" />
                <span asp-validation-for="Pictures" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">التصنيف</label>
                <select id="cat-div" asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group" id="cost-div">
                <label class="control-label">السعر</label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">الوصف</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group form-check">
                <label class="control-label">مميزة او لا</label>
                <br />
                <input class="form-check-input" asp-for="Featured"/>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="إضافة" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-success">العودة الى قائمة الكورسات</a>
</div>


<script>
        var cost = document.getElementById("cost-div");
        cost.hidden=true;
        var cat = document.getElementById("cat-div");
        cat.addEventListener("change", function(){
              if(cat.options[cat.selectedIndex].value == 1){
                cost.hidden = true;
              }else if(cat.options[cat.selectedIndex].value == 2){
                  cost.hidden = false;
        }
        
    })
        

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
