@{
    var error = ViewData["error"] as string;
    Layout = "_Layout";
}
<style>
    .first{
  font-size: 50px;
  padding: 10px;
  text-align: center;
  color: #ffaaaa;
  font-weight: bold;
}

.second{
  padding: 20px;
  text-align: center;
  color: #6fcfd3;
  font-weight: bolder;
}
.third{
  letter-spacing: 1px;
  text-align: center;
  width: 55%;
  margin: 0 auto;
    font-weight: bold;
  color: grey;
}
video{
  margin-top: 50px;
  width: 100%;
  box-shadow: 0px 0px 10px 0px grey;
  border-radius: 10px;
}
.fourth{
  margin-top:20px;
  font-weight: bolder;
  text-decoration: underline;
  color: #6fcfd3;
  text-align: center;
}
.download{
  direction: rtl;
  text-align: center;
  font-size: 100px;
}


.fa-android, .fa-apple{
  text-shadow: 0px 0px 10px cyan, 0px 0px 20px #ffcccc;
}
</style>
<h1 class="first">إيش حلا اليوم ياترى؟</h1>

<h2 class="second">تطبيق سباتولا لصناعة الكيك بواسطة الشيف حنان العابد</h2>
    
<p class="third">بدأنا من 5 سنوات من خلال تجهيز كورسات تعليم الكيك و الحلا اون لاين عن طريق قروبات الفيس بوك و بعد نجاحنا لاحظنا وجود مشاكل في طريقة التعلم و طريقة تحصيل الارباح جعلتنا نفكر جديا في انشاء تطبيق متخصص فقط في مجال الكيك والحلويات يلبي احتياجات المتدربات بسهولة ويسر و قد تحصلنا على دورة استثمار مكنتنا من تسجيل شركتنا رسميا و ها نحن الان وبرفقتنا 115 الف متابعة.</p>               



<video src="~/videos/intro.mp4" controls poster="~/images/spatulapng.png">
    
</video>


<h2 class="fourth">حملِ التطبيق</h2>
<div class="download">
    <a><i class="fa fa-android"></i></a>
    <a><i class="fa fa-apple"></i></a>
</div>



