/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#home img {
    width: 100%;
}
body main {
    min-height: 100vh !important;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-brand img {
    width: 100px;
}

nav {
    direction: rtl;
    padding: 0!important;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

 Sticky footer styles
-------------------------------------------------- 
html {
  position: relative;
  min-height: 100%;
}

body {
   Margin bottom by footer height 
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;  Vertically center the text there 
    direction: rtl;
    text-align: right;
}*/

/* LoginPage */
    .login-form {
        width: 60% !important;
        text-align: center;
        margin: 0 auto;
        padding: 0px 50px 50px 50px;
        border-top-left-radius: 150px;
        border-top-right-radius: 150px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        box-shadow: 0px 0px 4px 0px grey;
    }
    .login-form img {
        width: 30%;
    }
    .login-form .btn {
        width: 100%;
    }
.footer {
    color: white;
    background: #444444;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    direction: rtl;
}